body {
    background: linear-gradient(blue,green)
}
h1 {
    color : red;
    font-family:'Courier New', Courier, monospace;
    border: 2px solid powderblue;
    border-radius: 10px;
    padding-top: 20px;
    padding-left:50px;
    text-align:center;
    margin: 50px;
}
p{
    color : yellowgreen;
    font-size: 200%;
}
#six{
    color: blueviolet;
}

#div7{
    float:right;
}
#div6{
    float:left;
}
